#title {
 margin: 0 0 10px 0;
}

h2 {
  margin: 0;
}

#broken_history {
  display: none;
  margin: 0;
  font-size: small;
  color: gray;
}

#holder {
  width: 950px;
}

#allstats {
  padding: 0;
  margin: 0;
  float: left;
  width: 250px;
}

#allstats ul {
  padding: 0;
  margin: 0;
}

#stat {
  float: right;
  width: 610px;
}

#zoom {
  font-size: small;
  margin-left: 25px;
}

.clear {
  clear: both;
}

