#title {
 margin: 0 0 10px 0;
}

h2 {
  margin: 0;
}

#glossary {
  margin-top: 20px;
  font-size: small;
}

#broken_history {
  display: none;
  margin: 0;
  font-size: small;
  color: gray;
}

#holder {
  width: 1010px;
}

#allstats {
  padding: 0;
  margin: 0;
  float: left;
  width: 400px;
}

#allstats ul {
  padding: 0;
  margin: 0;
}

#stat {
  float: left;
  width: 610px;
}

#zoom {
  font-size: small;
  margin-left: 25px;
}

.clear {
  clear: both;
}

